.pagination {
    font-size: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-self: center;
    display: flex;
}

.pagination a {
    color: rgb(255, 255, 255);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #75a8ff;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #2752a8;
}